mixin link(url, text)
  a(href=`${url}`)&attributes(attributes) #{text}

//- Allows both plain text or blocks (for more complex content)
mixin inlineTl(lang, tlText)
  if tlText != null
    span (#[b #{lang}]: #[i #{tlText}])
  else
    span
      | (#[b #{lang}]:!{' '}
      i: block
      | )

mixin underline
  span(class="underline")&attributes(attributes)
    block
